body {
    text-align: center;
    margin: 0;
}

.main {
    width: 626px;
    margin: auto;
}

.main img {
    margin-top: 64px;
    margin-bottom: 32px;
}

h1 {
    margin-bottom: 16px;
    font-size: 32px;
    font-family: 'Dosis';
    font-style: normal;
}

h1 span {
    color: #EE24FF;
}